/* Whole Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-colour: #fff;
    --second-bg-colour: #ff0000;
    --text-colour: #2a2a2a;
    --second-text-colour: #fff;
    --big-font: 5rem;
    --h1-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-colour);
    color: var(--text-colour);
    height: 100px;
}

body span{
    border-bottom: 5px solid red;
}

section {
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

/* Header Section*/
header {
    color: var(--second-text-colour);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#logoBackground{
    position: absolute;
    display: flex;
    z-index: -1;
    width: 100%;
    height: 220px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

nav{
    margin-right: auto;
}

.navList{
    display: flex;
    list-style: none; 
    padding-bottom: 20px;
    padding-left: 40px;
}

.navList a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0 15px;
    transition: all .45s ease;
}

.navList a:hover{
    color: red;
    text-shadow: 1px 1px 2px red, 0 0 5px black, 0 0 5px maroon;
}

/* Home Section */
#home{
    padding: 100px;
}

#home h1{
}

#logo{
    width: 150px;
    height: 150px;
    float: none;
    padding-top: 20px;
    padding-right: 20px;
}

/* Services Section */
#services{
    padding: 80px;
}

.gridContainer p{
    padding: 20px;
}

.gridContainer{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 20px;
    padding-top: 20px;
}

.flip-card {
    border: 2px solid transparent;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 300px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front{
    text-align: center;
    align-content: center;
    box-shadow: 10px 10px 5px #6e6e6e;
    border-radius: 5px;
}

.flip-card-back{
    color: var(--second-text-colour);
    transform: rotateY(180deg);
    background-color: var(--second-bg-colour);
    box-shadow: -10px -10px 5px #6e6e6e;
    border-radius: 5px;
    padding-top: 20px;
}

.flip-card-back h3{
    text-shadow: 1px 1px 2px red, 0 0 5px black, 0 0 5px maroon;
}

.flip-card-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.7;
}

/* Projects Section */
/*#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin-bottom: 10px;
}*/

/* Contact Section */
#contact {
    padding: 80px;
}

#contact h2 {
    padding-bottom: 40px;
}

#contact h3{
    padding-bottom: 10px;
}

#contact li{
    padding-bottom: 20px;
}

.follow{
    padding-top: 20px;
}

.follow .icon{
    position: relative;
    background-color: red;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #000000;
    text-decoration: none;
}

.follow .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.follow span{
    border-bottom: 0px;
    display: table;
    margin: 0 auto;
}

.follow .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.follow .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.follow .icon:hover span,
.follow .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.follow .linkedIn:hover,
.follow .linkedIn:hover .tooltip,
.follow .linkedIn:hover .tooltip::before {
    background-color: #0e76a8;
    color: #ffffff;
}


.follow .facebook:hover,
.follow .facebook:hover .tooltip,
.follow .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.follow .twitter:hover,
.follow .twitter:hover .tooltip,
.follow .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

#contact img{
    border: 3px solid red;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
    fill: red;
}

.left{
    text-align: left;
    float: left;
    width: 50%;
}

.right{
    text-align: left;
    float: right;
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 100px;
    width: 50%;
}

#contact form {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-bottom: 50px;
}

#contact form span{
    color: red;
    border-bottom: 0px;
}

/* Grid items */
.text{
    grid-column: 1 / 5;
    grid-row: 1;
}

.name1{
    grid-column: 1;
    grid-row: 2;
}

.name2{
    grid-column: 1 / 3;
    grid-row: 3;
}

.name3{
    grid-column: 3 / 5;
    grid-row: 3;

}

.email1{
    grid-column: 1 / 5;
    grid-row: 4;
}

.email2{
    grid-column: 1 / 5;
    grid-row: 5;
}

.message1{
    grid-column: 1 / 5;
    grid-row: 6;

}

.message2{
    grid-column: 1 / 5;
    grid-row: 7;
}

.submitButton{
    grid-column: 4;
    grid-row: 8;
}

#contact form textarea{
    height: 200px;
}

#contact form input,
#contact form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 5px #b5b5b5;
    background-color: #c9c6c6;
    color: var(--text-colour);
    transition: width 0.4s ease-in-out;
    width: 100%;
}

#contact form input:focus,
#contact form textarea:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 5px 5px 5px #333;
}

#contact form button {
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    align-self: flex-end;
    width: 100%;
}

#contact form button:hover {
    background-color: #555;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
}



